.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.carDetailContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
  height:900px ;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.carDetail {
  width: 100%;
}

.carDetailImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.carInfo {
  margin-top: 20px;
  font-size: larger;
}

.olxPricesContainer {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.olxCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-sizing: border-box;
  width: 475px;
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.olxListingsTitle {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 910px;  
}

.olxCard:hover {
  border-color: #007bff;
  background-color: #ebf5ff;
  text-decoration: none;
  transform: translateY(-5px);
}

.olxLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.olxLink:hover {
  text-decoration: none;
  color: inherit;
}

.olxImage {
  border-radius: 10px;
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.backButton {
  position: absolute;
  height: auto;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: black;
  margin: 5px;
  padding: 10px 20px;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  bottom: 35px;
}

.backButton:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
}

.backButton:focus {
  outline: none;
}

.headerStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  text-align: center;
}

.titleStyle {
  margin: 0;
  font-size: 24px;
  color: #FFF;
}

.logoStyle {
  margin-left: 0px;
  height: 35px;
}

.mainStyle {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparisonContainer {
  margin-bottom: 15px;
}

.comparisonDifference {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.priceGain {
  background-color: rgba(23, 177, 105, 0.2);
  color: #17B169;
}

.priceLoss {
  background-color: rgba(227, 38, 54, 0.2);
  color: #E32636;
}

.mileageGain {
  background-color: rgba(23, 177, 105, 0.2);
  color: #17B169;
}

.mileageLoss {
  background-color: rgba(227, 38, 54, 0.2);
  color: #E32636;
}

.priceDifference {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
}