.language-switcher {
    display: flex;
    align-items: center;
  }
  
  .language-switcher button {
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0 !important;
    margin: 0 5px !important; 
    box-shadow: none !important;
    width: 40px;
    height: 25px;
  }
  
  .language-switcher img {
    width: 40px;
    height: 25px; 
  }
  